<!DOCTYPE html>
<html>
  <head>
    <title>Página não encontrada!</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/misEstilos.css"
    />
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/loginpage.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <!--Inicio Header-->
      <header>
        <nav class="navbar navbar-default sombra navbar-login limitePwd">
          <div class="container limitePwd define">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="navbar-header">
                  <a class="navbar-brand logo"
                    ><img
                      src="https://pf.santandernet.com.br/LOGBBR_NS_ENS/EarEstatico/LOGBBR_NS_ENS/ALP_LOGBBR_Presentacion/Images/logo_santander.png"
                      alt="logo_santander"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!--Fim Header-->

      <!--Inicio Main-->
      <main>
        <div class="container limitePwd">
          <div class="col-xs-12 col-md-12 main isban-main-content">
            <div class="row space-b">
              <div
                class="col-12 col-xs-12 col-md-5 col-lg-3 col-offset-0 col-xs-offset-0 col-md-offset-3 col-lg-offset-4"
              >
                <h1 class="conversation">Ops, essa página não existe :/</h1>
                <h2>Volte à página inicial e refaça sua solicitação!</h2>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--Fim Main-->
    </div>

    <!--Inicio Footer-->
    <footer class="limitePwd">
      <div class="footer limitePwd">
        <div class="container limitePwd define">
          <p>
            Banco Santander (Brasil) S.A - CNPJ: 90.400.888/0001-42 - Av
            Presidente Juscelino Kubitscheck, 2041/2235 - Bloco A, Vila Olímpia,
            São Paulo /SP - CEP 04543-011
          </p>
        </div>
      </div>
    </footer>
    <!--Fim Footer-->
  </body>
</html>
